.container {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: 1rem ridge gold;
}

.grid div {
    width: 15px;
    height: 15px;
}

.wall {
    background-color: blue;
}

.wall-won {
    background-color: lightskyblue;   
}

.wall-lost {
    background-color: gray;
}

.power-pellet {
    background-color:orange;
    border-radius: 50%;
}


.pac-dot {
    background-color: green;
    box-sizing: border-box;
    border: 5px solid white;
}


.pac-man {
    background-color: rgb(255, 217, 0);
    border-radius: 50%;
}

.blinky {
    background-color: red;
    border: none;
}

.pinky {
    background-color: pink;
    border: none;
}

.inky {
    background-color: aqua;
    border: none;
}

.clyde {
    background-color: orange;
    border: none;
}

.scared-ghost {
    background-color: aquamarine;
    border: none;
}


